.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 700px) {
    align-items: initial;
  }
}

.middlecontainer {
  max-width: 1182px;
  max-height: 522px;
  display: flex;

  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
  }
}

.imagecontainer {
  width: 60%;
  height: 100%;
  max-width: 649px;
  max-height: 522px;

  @media (max-width: 700px) {
    width: 120px;
    height: 100px;
  }
}

.nameContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @media (max-width: 700px) {
    width: 100%;
  }
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 86px;
  white-space: nowrap;
  margin: 0px 0px 16px 0px;

  @media (max-width: 700px) {
    font-size: 40px;
  }
}

.buttonName {
  width: 220px;
  height: 44px;
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;
  gap: 10px;
  color: white;
  background-color: black;
  cursor: pointer;

  @media (max-width: 700px) {
    width: 150px;
  }
}
