.rulesContainer {
  background-color: #fbf1f1;
  padding: 12px;
  margin-top: 16px;
  margin-bottom: 200px;
}

.rulesHeading {
  font-weight: 700;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 16px;

  @media (max-width: 700px) {
    font-size: 16px;
    font-weight: 600;
  }
}

.rulesContainer p {
  margin: 2px;
}
