.rulesContainer {
  background-color: #fbf1f1;
  padding: 12px;
  margin-top: 16px;
}

.rulesHeading {
  font-weight: 700;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 16px;
}

.rulesContainer p {
  margin: 2px;
}
